In [1]:
import pandas as pd

In [3]:
series  = pd.Series([5, 10, 15, 20, 25])
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

In [6]:
series[3]

20

In [7]:
cad = pd.Series(['p', 'l', 'a', 't', 'z', 'i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [8]:
lst = ['Hola', 'mundo', 'robotico']
df = pd.DataFrame(lst)
print(df)

          0
0      Hola
1     mundo
2  robotico

In [10]:
data = {'Nombre': ['Juan', 'Ana', 'Jose', 'Arturo'], 'Edad':[25, 18, 23, 27], 
        'Pais':['MX', 'CO', 'BR', 'MX']}
df = pd.DataFrame(data)
print(df)

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    18   CO
2    Jose    23   BR
3  Arturo    27   MX

In [11]:
print(df[['Nombre', 'Pais']])

   Nombre Pais
0    Juan   MX
1     Ana   CO
2    Jose   BR
3  Arturo   MX